/* Kyla Zhang 7/6/2020 */
article, body, div, footer, header, h1, h2, p {
    border: 0;
    padding:0;
    margin:0;
    top:0;
}

.container {
    font-family: cursive;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    margin-bottom: 1em;
}

.header {
    background-color: rgb(250, 224, 237);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 200;
    border: .1em solid rgb(255, 77, 181);
    margin-top: 2em;
}

.article {
    background-color: rgb(252, 181, 234);
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 1%;
}

.p {
    text-align: left;
    padding-top: 1%;
}

.hobbies {
    background-color: rgb(252, 144, 225);
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 1%;
    font-weight: bold;
}

.footer {
    background-color: rgb(253, 106, 216);
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 1%;
}